@page "/fetchdata"
@inject HttpClient Http

<h1>Expenses</h1>

<p>Expenses for the account: Current</p>

@if (_expenses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in _expenses)
            {
                <tr>
                    <td>@expense.Date.ToShortDateString()</td>
                    <td>@expense.Amount</td>
                    <td>@expense.Description</td>
                    <td>@expense.Status</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    Expense[] _expenses;

    protected override async Task OnInitAsync()
    {
        //_expenses = await Http.GetJsonAsync<Expense[]>("http://localhost:7071/api/AddExpense");
        _expenses = new[]
        {
            new Expense
            {
                Amount = 10.99m,
                Account = "Current",
                Date = DateTime.Today.AddDays(-1),
                Description = "Pizza",
                Status = "Reconciled",
                Type = "Regular"
            },
            new Expense
            {
                Amount = 23.90m,
                Account = "Current",
                Date = DateTime.Today.AddDays(-2),
                Description = "Thai",
                Status = "Reconciled",
                Type = "Regular"
            },
            new Expense
            {
                Amount = 9.80m,
                Account = "Current",
                Date = DateTime.Today.AddDays(-3),
                Description = "Burger",
                Status = "Pending",
                Type = "Regular"
            }
        };
    }
}
