@page "/edit/{Id}"
@inherits UpdatePage

<h1>@GetTitle()</h1>

<FormGroup>
    <BlazorLabel For="Receipt">Upload a receipt</BlazorLabel>
    <input id="Receipt"
           type="file" />
    <BlazorButton onclick="@UploadToBlobStorage">Load from receipt</BlazorButton>
    <Progress @bind-Value="AnalysisProgress"
              IsStriped="true"
              IsAnimated="true">@AnalysisProgress%</Progress>
        </FormGroup>

        <BlazorForm OnSubmit="@AddOrUpdate">

            <FormGroup>
                <BlazorLabel For="Payee">Payee</BlazorLabel>
                <BlazorInput Id="Payee"
                             InputType="InputType.Text"
                             @bind-Value="Expense.Payee" />
            </FormGroup>

            <FormGroup>
                <BlazorLabel For="Date">Date</BlazorLabel>
                <BlazorInput Id="Date"
                             InputType="InputType.Date"
                             @bind-Value="DateBinder" />
            </FormGroup>

            <FormGroup>
                <BlazorLabel For="Amount">Amount</BlazorLabel>
                <BlazorInput Id="Amount"
                             InputType="InputType.Number"
                             @bind-Value="AmountBinder"
                             step=".01" />
            </FormGroup>

            <FormGroup>
                <BlazorLabel For="Account">Account</BlazorLabel>
                <BlazorInput Id="Account"
                             InputType="InputType.Select"
                             @bind-Value="Expense.Account">
                    <option>Current</option>
                    <option>ISA</option>
                    <option>Wallet</option>
                </BlazorInput>
            </FormGroup>

            <FormGroup>
                <BlazorLabel For="Type">Type</BlazorLabel>
                <BlazorInput Id="Type"
                             InputType="InputType.Select"
                             @bind-Value="Expense.Type">
                    <option>Regular</option>
                    <option>Internal transfer</option>
                    <option>Scheduled</option>
                </BlazorInput>
            </FormGroup>

            <FormGroup>
                <BlazorLabel For="Status">Status</BlazorLabel>
                <BlazorInput Id="Status"
                             InputType="InputType.Select"
                             @bind-Value="Expense.Status">
                    <option>New</option>
                    <option>Pending</option>
                    <option>Reconciled</option>
                </BlazorInput>
            </FormGroup>

            <FormGroup>
                <BlazorLabel For="Description">Description</BlazorLabel>
                <BlazorInput Id="Description"
                             InputType="InputType.TextArea"
                             @bind-Value="Expense.Description"
                             Rows="4" />
            </FormGroup>

            <BlazorButton Color="Color.Primary"
                          ButtonType="ButtonType.Submit">@(Guid == Guid.Empty ? "Add" : "Update")</BlazorButton>
                        <BlazorButton Color="Color.Secondary">Split</BlazorButton>

                    </BlazorForm>